@using Kosta_Task.Models.Dtos;
@model DepartmentRazorDto


<form asp-action="DepartmentEdit">
    @Html.Hidden("DepartmentDto.Id")
    @Html.Hidden("DepartmentDtosList", Model.DepartmentDtosList)
    <br />
    <div class="container border p-3">
        <h1 class="text-primary">Редактировать отдел</h1>

        <hr />
        <div class="row">
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>

            <div class="col-2">
                <label asp-for="DepartmentDto.Name" class="control-label pt-2" style="font-size:20px;">Наименование</label>
            </div>
            <div class="col-10 pb-3">
                <input asp-for="DepartmentDto.Name" class="form-control" />
                <span asp-validation-for="DepartmentDto.Name" class="text-danger"></span>
            </div>

            <div class="col-2">
                <label asp-for="DepartmentDto.Code" class="control-label pt-2" style="font-size:20px;">Мнемокод</label>
            </div>
            <div class="col-10 pb-3">
                <input asp-for="DepartmentDto.Code" placeholder="До 10 символов" class="form-control" />
                <span asp-validation-for="DepartmentDto.Code" class="text-danger"></span>
            </div>

            <div class="col-2">
                <label asp-for="DepartmentDto.ParentDepartmentName" class="control-label pt-2" style="font-size:20px;">ID родительского подразделения</label>
            </div>
            <div class="col-10 pb-3">
                <select asp-for="DepartmentDto.ParentDepartmentName" class="form-control">
                    @foreach (var departmentDto in Model.DepartmentDtosList)
                    {
                        @if (departmentDto.Id == Model.DepartmentDto.ParentDepartmentId)
                        {
                            <option selected>@departmentDto.Name</option>
                        }
                        else
                        {
                            <option>@departmentDto.Name</option>
                        }        
                    }
                </select>
            </div>

            <div class="col-5 offset-2">
                <a asp-action="DepartmentIndex" class="btn-primary btn form-control ">Назад к списку</a>
            </div>
            <div class="col-5">
                <input type="submit" value="Обновить" class="btn btn-success form-control" />
            </div>
        </div>
    </div>
</form>


@section Scripts {
    <partial name="_ValidationScriptsPartial" />
}
